Source: supreme
Section: unknown
Priority: optional
Maintainer: kb <kiranbose.kb1@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/supreme.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/supreme.git

Package: supreme
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Do it the terminal way
 The supreme user module for heavy bash users. Open,copy,move,delete,rename files in local drive,phone(android) and usb drive without typing long commands. And more...
