Package: supreme
Version: 1.0.9-1
Architecture: amd64
Maintainer: kiran <kiran.vkvr@gmail.com>
Installed-Size: 39
Section: net
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: Do it the terminal way
 Supreme is a commandline file manager written in shell script. It helps you open,copy,move,delete,rename files in local drive,phone(android) and usb drive without typing long commands. And more...
